.highlight-item {
	background: #FFFFFF;
	border-right-color: #000000;
	border-right: solid;
	border-width: 1px;
}

.searchblock {
	height: 500px;
	width: 500px;
	background: #FFFFFF;
	border: solid;
	border-color: #CDCDCD;
	border-bottom-width: 2px;
	border-radius: 10px;
	margin: 0 auto;
	box-shadow: 5px 5px 5px #e2dfdf;
	padding: 25px;
}

.searchblock p1 {
	font-size: 16px;
	font-family: "微软雅黑";
}

.searchblock p {
	margin: 25px 0 10px 10px;
}

.searchblock input {
	margin: 0 0  0px 10px;
	width: 420px;
}

.searchblock select {
	margin: 0 0 10px 10px;
	width: 420px;
	height: 40px;
}

.searchblock .buttonblock {
	width: 250px;
	margin: 20px auto;
}

.searchblock button {
	width: 250px;
	height: 60px;
	background: #169BD5;
	margin: 5px 0;
	color: #FFFFFF;
	box-shadow: none;
	border: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.searchblock p1 {
	font-size: 16px;
	font-family: "微软雅黑";
}

.searchblock p {
	margin: 25px 0 10px 10px;
}

.searchblock input {
	margin: 0 0  0px 10px;
	width: 420px;
}

.searchblock select {
	margin: 0 0 10px 10px;
	width: 420px;
	height: 40px;
}

.searchblock .buttonblock {
	width: 250px;
	margin: 20px auto;
}

.searchblock button {
	width: 250px;
	height: 60px;
	background: #169BD5;
	margin: 5px 0;
	color: #FFFFFF;
	box-shadow: none;
	border: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


.searchblock1 {
	height: 270px;
	width: 500px;
	background: #FFFFFF;
	border: solid;
	border-color: #CDCDCD;
	border-bottom-width: 2px;
	border-radius: 10px;
	margin: 0 auto;
	box-shadow: 5px 5px 5px #e2dfdf;
	padding: 25px;
}

.searchblock1 p1 {
	font-size: 16px;
	font-family: "微软雅黑";
}

.searchblock1 p {
	margin: 25px 0 10px 10px;
}

.searchblock1 input {
	margin: 0 0  0px 10px;
	width: 420px;
}

.searchblock1 select {
	margin: 0 0 10px 10px;
	width: 420px;
	height: 40px;
}

.searchblock1 .buttonblock {
	width: 250px;
	margin: 20px auto;
}

.searchblock1 button {
	width: 250px;
	height: 60px;
	background: #169BD5;
	margin: 5px 0;
	color: #FFFFFF;
	box-shadow: none;
	border: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.searchblock1 p1 {
	font-size: 16px;
	font-family: "微软雅黑";
}

.searchblock1 p {
	margin: 25px 0 10px 10px;
}

.searchblock1 input {
	margin: 0 0  0px 10px;
	width: 420px;
}

.searchblock1 select {
	margin: 0 0 10px 10px;
	width: 420px;
	height: 40px;
}

.searchblock1 .buttonblock {
	width: 250px;
	margin: 20px auto;
}

.searchblock1 button {
	width: 250px;
	height: 60px;
	background: #169BD5;
	margin: 5px 0;
	color: #FFFFFF;
	box-shadow: none;
	border: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.searchblock2 {
	height: 280px;
	width: 240px;
	background: #FFFFFF;
	border: solid;
	border-color: #CDCDCD;
	border-bottom-width: 2px;
	border-radius: 10px;
	margin: 0 30px 0 40px;
	box-shadow: 5px 5px 5px #e2dfdf;
	padding: 10px;
	
}

.searchblock2 p1 {
	font-size: 16px;
	font-family: "微软雅黑";
}

.searchblock2 p {
	font-size: 12px;
	margin: 4px 0 0px 5px;
}

.searchblock2 input {
	font-size: 12px;
	margin: 0 0 5px 5px;
	width: 200px;
	height: 20px;
}

.searchblock2 select {
	font-size: 12px;
	margin: 0 0 5px 5px;
	width: 200px;
	height: 20px;
}

.searchblock2 .buttonblock {
	width: 145px;
	margin: 20px auto;
}

.searchblock2 button {
	width: 145px;
	height: 30px;
	background: #169BD5;
	margin: ;
	color: #FFFFFF;
	box-shadow: none;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.resultblock{
	height: 550px;
	width: 840px;
	background: #FFFFFF;
	border: solid;
	border-color: #CDCDCD;
	border-bottom-width: 2px;
	border-radius: 10px;
	margin: 95px 50px 0 50px;
	box-shadow: 5px 5px 5px #e2dfdf;
	padding: 20px;
	
}

.resultblock{
	display: flex;
	flex-direction: column;
}

.resultblock .title{
	margin: 10px 0 10px 50px;
}

.resultblock .title p3{
	float: left;
	margin: 0 25px;
}

.result-content{
	flex: 1;
}

.result-item{
	border: solid;
	border-width: 1px;
	border-color: grey;
	height: 40px;
	margin: 20px 10px;
	padding: 8px 0 10px 25px;
}
.result-item p3{
	float: left;
	margin: 0;
}

.result-foot{
	display: flex;
}

.result-foot .page-turner{
	display: flex;
	width:850px;
	align-items: center; 
    justify-content: center; 
}

.result-foot .operate-button{
	float: right;
	margin-top:30px;
	margin-right: 20px;
	
}
.result-foot .b{
	width: 150px;
	height: 40px;
	background: #169BD5;
	margin: ;
	color: #FFFFFF;
	box-shadow: none;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#jumpout-block{
	width: 1000px;
	height: 1000px;
	position: absolute;
	background: rgba(0,0,0,0.4);
}

#jump-actual-block{
	height: 450px;
	width: 400px;
	background: #FFFFFF;
	border: solid;
	border-color: #CDCDCD;
	border-bottom-width: 2px;
	border-radius: 10px;
	margin: 100px 0 0 27%;
	padding: 25px;
}

#jump-actual-block p{
	margin: 10px;
}

#jump-actual-block input {
	margin: 0 0 5px 10px;
	width: 300px;
	height: 30px;
}

#jump-actual-block select {
	margin: 0 0 10px 10px;
	width: 300px;
	height: 30px;
}

#jump-actual-block .buttonblock {
	width: 150px;
	margin: 20px auto;
}

#jump-actual-block button {
	width: 150px;
	height: 40px;
	background: #169BD5;
	margin: ;
	color: #FFFFFF;
	box-shadow: none;
	border: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.homeblock1{
	height: 350px;
	width: 250px;
	background: #FFFFFF;
	border: solid;
	border-color: #CDCDCD;
	border-bottom-width: 2px;
	border-radius: 10px;
	margin: 0 10px 0 50px;
	box-shadow: 5px 5px 5px #e2dfdf;
	padding: 10px;
}

.homeblock2{
	display: flex;
    flex-direction: column;
	width: 300px;
	background: #FFFFFF;
	border: solid;
	border-color: #CDCDCD;
	border-bottom-width: 2px;
	border-radius: 10px;
	margin: 0 30px 20px 40px;
	box-shadow: 5px 5px 5px #e2dfdf;
	padding: 5px;
}

.homeblock2 .buttonblock {
	width: 100px;
	margin: 30px 0 20px 190px;
}

.homeblock2 button {
	width: 80px;
	height: 30px;
	background: #aaddee;
	margin: ;
	color: #31708f;
	font-size: 15px;
	box-shadow: none;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.homeblock3{
	height:70px;
	width: 700px;
	background: #FFFFFF;
	border: solid;
	border-color: #CDCDCD;
	border-bottom-width: 2px;
	border-radius: 10px;
	margin: 0 30px 20px 40px;
	box-shadow: 5px 5px 5px #e2dfdf;
	padding: 5px;
}
.homeblock4{
	display: flex;
    flex-direction: column;
	width: 300px;
	background: #FFFFFF;
	
	border-radius: 10px;
	margin: 0;
	padding: 5px;
}

.homeblock3 .buttonblock {
	width: 87px;
	margin-top:35px;
	margin-bottom:20px;
	display:inline;
	margin-left: auto;
	margin-right:auto;
}
.homeblock4 .buttonblock {
	width: 87px;
	margin-top:35px;
	margin-bottom:20px;
	display:block;
	margin-left: auto;
	margin-right:auto;
}

.homeblock3 .buttonblock button {
	width: 87px;
	height: 34px;
	margin:0;
	background: #aaddee;
	color: #31708f;
	font-size: 15px;
	box-shadow: none;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.buttonB{
	width: 87px;
	height: 34px;
	margin:0;
	background: #aaddee;
	color: #31708f;
	font-size: 15px;
	box-shadow: none;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.buttonjiesuan{
	width: 87px;
	height: 34px;
	margin:0;
	margin-left:15px;
	background: #aaddee;
	color: #31708f;
	font-size: 15px;
	box-shadow: none;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.homeblock4 .buttonblock button {
	width: 87px;
	height: 34px;
	margin:0;
	background: #aaddee;
	color: #31708f;
	font-size: 15px;
	box-shadow: none;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.homeblock5{
	width:600px;
	margin:30px auto;
	background: rgb(255, 255, 255);
    border-radius: 10px;
}

.searchResult{
	width:700px;
	background-color:#fff;
	border: 3px solid #CDCDCD;
	border-radius: 10px;
	margin: 0px 30px 20px 164px;
	display:flex;
	flex-direction:column;
	align-items:center;
	box-shadow:5px 5px 5px #e2dfdf;
	padding: 5px;
	
}

.searchResult .searchResultNav{
	margin:10px 10px 15px 10px;
	background-color:#FFFFFF;
	width:620px;
	height:34px;
	display:flex;
	flex-direction:row;
}
.searchResult .searchResultNav p{
	margin-right:auto;
	margin-left:auto;
	padding-top:7px;
	padding-bottom:7px;
	text-align:center;
	font-size:15px;
}

.searchResult .searchItem{
	margin:0 10px 10px 10px;
	background-color:#FFFFFF;
	width:620px;
	height:55px;
	display:flex;
	flex-direction:row;
	border:1px solid #CDCDCD;
	border-radius:5px;
}

.workButton{
	margin-right:auto;
	margin-left:auto;
	width:60px;
	height:30px;
	text-align:center;
	font-size:15px;
	border:1px solid #269abc;
	background-color: #aaddee;
	color:#31708f;
	border-radius:5px;
	align-self:center;
}

.p60{
	margin-right:auto;
	margin-left:auto;
	width:60px;
	padding-top:16px;
	padding-bottom:17px;
	text-align:center;
	font-size:15px;
}

.p20{
	margin-right:auto;
	margin-left:auto;
	width:20px;
	padding-top:16px;
	padding-bottom:17px;
	text-align:center;
	font-size:15px;
}
.p45{
	margin-right:auto;
	margin-left:auto;
	width:45px;
	padding-top:16px;
	padding-bottom:17px;
	text-align:center;
	font-size:15px;
}

.p40{
	margin-right:auto;
	margin-left:auto;
	width:40px;
	padding-top:16px;
	padding-bottom:17px;
	text-align:center;
	font-size:15px;
}
.p70{
	margin-right:auto;
	margin-left:auto;
	width:70px;
	padding-top:16px;
	padding-bottom:17px;
	text-align:center;
	font-size:15px;
}

.p90{
	margin-right:auto;
	margin-left:auto;
	width:90px;
	padding-top:16px;
	padding-bottom:17px;
	text-align:center;
	font-size:15px;
}

.pButton{
	margin-right:auto;
	margin-left:auto;
	width:60px;
	height:34px;
	text-align:center;
	font-size:15px;
}

.p115{
	margin-right:auto;
	margin-left:auto;
	width:115px;
	padding-top:16px;
	padding-bottom:17px;
	text-align:center;
	font-size:15px;
}

.p130{
	margin-right:auto;
	margin-left:auto;
	width:130px;
	padding-top:16px;
	padding-bottom:17px;
	text-align:center;
	font-size:15px;
}

.pageFoot{
	margin:15px 10px 20px 10px;
	background-color:#fff;
	height:54px;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.title{
	font-weight:550;
}

.bodyStyle{
	display:flex;
	flex-direction:column;
	align-items:center;
}

.bodyStyle p{
	color: #888;
    font-size: 0.85em;
    font-weight: 300;
    line-height: 1.8em;
}

.infoBlock{
	width:575px;
	margin-bottom:10px;
}

.infoRow{
	display:flex;
	flex-direction:row;
	align-items:center;
	width:575px;
	height:50px;
	margin-top:5px;
}
.infoRowColumn{
	display:flex;
	flex-direction:column;
	width:220px;
	height:48px;
	margin-left:auto;
	margin-right:auto;
}

.infoRowColumnlong{
	display:flex;
	flex-direction:column;
	width:510px;
	height:48px;
	background-color:#fff;
	margin-left:auto;
	margin-right:auto;
}

.infoRowColumnshort{
	display:flex;
	flex-direction:column;
	width:112px;
	height:48px;
	background-color:#fff;
	margin-left:0;
	margin-right:auto;
}

.infoRowColumnmedium{
	display:flex;
	flex-direction:column;
	width:257px;
	height:48px;
	background-color:#fff;
	margin-left:0;
	margin-right:auto;
}

.infoBorder{
	width:220px;
	height:30px;
	border:1px solid #cdcdcd;
	border-radius:5px;
}

.infoBorderlong{
	width:510px;
	height:30px;
	border:1px solid #cdcdcd;
	border-radius:5px;
}

.infoBordershort{
	width:112px;
	height:30px;
	border:1px solid #cdcdcd;
	border-radius:5px;
}

.infoBordermedium{
	width:257px;
	height:30px;
	border:1px solid #cdcdcd;
	border-radius:5px;
}

.signFooter{
	margin-top:10px;
	padding: 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

