<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DeliverySystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DispatchManageServlet</display-name>
    <servlet-name>DispatchManageServlet</servlet-name>
    <servlet-class>com.neuedu.controller.DispatchManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatchManageServlet</servlet-name>
    <url-pattern>/dispatchManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientManageServlet</display-name>
    <servlet-name>ClientManageServlet</servlet-name>
    <servlet-class>com.neuedu.controller.ClientManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientManageServlet</servlet-name>
    <url-pattern>/clientService/clientManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientSearchServlet</display-name>
    <servlet-name>ClientSearchServlet</servlet-name>
    <servlet-class>com.neuedu.controller.ClientSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientSearchServlet</servlet-name>
    <url-pattern>/clientService/clientSearchServlet</url-pattern>
  </servlet-mapping>
</web-app>