<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DeliverySystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DispatchManageServlet</display-name>
    <servlet-name>DispatchManageServlet</servlet-name>
    <servlet-class>com.neuedu.controller.DispatchManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatchManageServlet</servlet-name>
    <url-pattern>/dispatchManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientManageServlet</display-name>
    <servlet-name>ClientManageServlet</servlet-name>
    <servlet-class>com.neuedu.controller.ClientManageServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>WarehouseReturnManageServlet</display-name>
    <servlet-name>WarehouseReturnManageServlet</servlet-name>
    <servlet-class>com.neuedu.controller.WarehouseReturnManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WarehouseReturnManageServlet</servlet-name>
    <url-pattern>/warehouseReturnManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryPartServlet</display-name>
    <servlet-name>DeliveryPartServlet</servlet-name>
    <servlet-class>com.neuedu.controller.DeliveryPartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryPartServlet</servlet-name>
    <url-pattern>/deliveryPartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClientManageServlet</servlet-name>
    <url-pattern>/clientService/clientManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientSearchServlet</display-name>
    <servlet-name>ClientSearchServlet</servlet-name>
    <servlet-class>com.neuedu.controller.ClientSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientSearchServlet</servlet-name>
    <url-pattern>/clientService/clientSearchServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>SubstationServlet</display-name>
    <servlet-name>SubstationServlet</servlet-name>
    <servlet-class>com.neuedu.controller.SubstationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubstationServlet</servlet-name>
    <url-pattern>/substationServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>SupManageServlet</display-name>
    <servlet-name>SupManageServlet</servlet-name>
    <servlet-class>com.neuedu.controller.SupManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupManageServlet</servlet-name>
    <url-pattern>/supService/supManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupSearchServlet</display-name>
    <servlet-name>SupSearchServlet</servlet-name>
    <servlet-class>com.neuedu.controller.SupSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupSearchServlet</servlet-name>
    <url-pattern>/supService/supSearchServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>EmployeeManageServlet</display-name>
    <servlet-name>EmployeeManageServlet</servlet-name>
    <servlet-class>com.neuedu.controller.EmployeeManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeManageServlet</servlet-name>
    <url-pattern>/employeeManageServlet</url-pattern>
  </servlet-mapping>
</web-app>